<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}" class="nojs">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<link href="{T_THEME_PATH}/style.css" rel="stylesheet" type="text/css" />

<!-- DEFINE $POPUP = 1 -->

</head>

<body id="phpbb" class="simple {S_CONTENT_DIRECTION}">
<a id="top" name="top" accesskey="t"></a>

<div id="page-body">