	<!-- IF FOLDER_STATUS and FOLDER_MAX_MESSAGES neq 0 --><p class="block">{FOLDER_STATUS}</p><!-- ENDIF -->

	<!-- IF U_POST_REPLY_PM or U_POST_NEW_TOPIC or U_FORWARD_PM -->
		<div class="buttons">
		    <!-- DEFINE $S_UCP_BUTTONS = 1 -->
			<!-- IF U_POST_REPLY_PM --><a title="{L_POST_REPLY_PM}" href="{U_POST_REPLY_PM}" class="gradient link">{L_POST_REPLY_PM}</a>
			<!-- ELSEIF U_POST_NEW_TOPIC --> <a href="{U_POST_NEW_TOPIC}" class="gradient link">{L_UCP_PM_COMPOSE}</a><!-- ENDIF -->
			<!-- IF U_FORWARD_PM --> <a href="{U_FORWARD_PM}" class="gradient link">{L_FORWARD_PM}</a><!-- ENDIF -->

            <!-- IF U_POST_REPLY_PM and S_PM_RECIPIENTS gt 1 -->
                <a href="{U_POST_REPLY_ALL}" class="gradient link">{L_REPLY_TO_ALL}</a>
            <!-- ENDIF -->

	<!-- ENDIF -->


<!-- IF S_DISPLAY_HISTORY and (U_VIEW_PREVIOUS_HISTORY or U_VIEW_NEXT_HISTORY) -->
    <!-- IF ! $S_UCP_BUTTONS  --><div class="buttons"><!-- DEFINE $S_UCP_BUTTONS = 1 --><!-- ENDIF -->
		<!-- IF U_VIEW_PREVIOUS_HISTORY --> <a href="{U_VIEW_PREVIOUS_HISTORY}" class="gradient link">{L_VIEW_PREVIOUS_HISTORY}</a><!-- ENDIF -->
		<!-- IF U_VIEW_NEXT_HISTORY --> <a href="{U_VIEW_NEXT_HISTORY}" class="gradient link">{L_VIEW_NEXT_HISTORY}</a><!-- ENDIF -->
<!-- ENDIF -->

    <!-- IF $S_UCP_BUTTONS  --></div><!-- ENDIF -->

<form id="viewfolder" method="post" action="{S_PM_ACTION}">
