<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<p>{L_WATCHED_EXPLAIN}</p>

<!-- IF .forumrow -->
<div class="forums">
    <p class="header gradient">{L_WATCHED_FORUMS}</p>
	<ul class="topiclist forums">

	<!-- BEGIN forumrow -->
		<li class="row">
		    <p><input type="checkbox" name="f[{forumrow.FORUM_ID}]" id="f{forumrow.FORUM_ID}" /> <a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a></p>
		    <!-- IF forumrow.LAST_POST_TIME -->
		    <p>{L_LAST_POST}: <a href="{topicrow.U_LAST_POST}">{forumrow.LAST_POST_TIME}</a></p>
		    <!-- ENDIF -->
		</li>
	<!-- END forumrow -->
	</ul>
</div>
<!-- ELSEIF S_FORUM_NOTIFY -->
	<p class="block">{L_NO_WATCHED_FORUMS}</p>
<!-- ENDIF -->

<!-- IF .topicrow -->
<div class="forums">
    <p class="header gradient">{L_WATCHED_TOPICS}</p>
	<ul class="topiclist forums">

	<!-- BEGIN topicrow -->
		<li class="row">
		    <p><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" /> <a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
                <!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}" class="newest">{L_NEW_POST}</a><!-- ENDIF -->
                <!-- IF topicrow.PAGINATION --><span class="pages">{topicrow.PAGINATION}</span><!-- ENDIF -->
            </p>
            <p>{L_LAST_POST}: <a href="{topicrow.U_LAST_POST}">{topicrow.LAST_POST_TIME}</a></p>
		</li>
	<!-- END topicrow -->
	</ul>
</div>
<!-- ELSEIF S_TOPIC_NOTIFY -->
	<p class="block">{L_NO_WATCHED_TOPICS}</p>
<!-- ENDIF -->

<!-- IF .topicrow or .forumrow -->
<input type="submit" name="unwatch" value="{L_UNWATCH_MARKED}" class="button2" />
{S_FORM_TOKEN}
<!-- ENDIF -->
</form>

<!-- INCLUDE ucp_footer.html -->