<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p><a href="{U_MCP}">{L_MCP}</a></p><!-- ENDIF -->

<!-- IF S_FORUM_RULES and not S_IS_BOT -->
	<div class="block rules">
		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<h2>{L_FORUM_RULES}</h2>
			{FORUM_RULES}
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- IF S_IS_BOT and FORUM_DESC --><p>{FORUM_DESC}</p><!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- INCLUDE forumlist_body.html -->
    <!-- IF not S_IS_BOT and U_MARK_FORUMS -->
    <p class="float-right"><a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a></p>
    <!-- ENDIF -->
<!-- ENDIF -->

<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
    <div class="buttons">
        <a href="{U_POST_NEW_TOPIC}" class="gradient link"><!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF --></a>
    </div>
<!-- ENDIF -->


<!-- IF S_NO_READ_ACCESS -->

	<div class="block rules">
		{L_NO_READ_ACCESS}
	</div>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<form action="{S_LOGIN_ACTION}" method="post">

            <h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED --> &bull; <a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

            <fieldset class="fields1">
            <dl>
                <dt><label for="username">{L_USERNAME}:</label></dt>
                <dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
            </dl>
            <dl>
                <dt><label for="password">{L_PASSWORD}:</label></dt>
                <dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /></dd>
                <!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
                <dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
            </dl>
            <dl>
                <dt>&nbsp;</dt>
                <dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
            </dl>
            {S_LOGIN_REDIRECT}
            </fieldset>

		</form>

	<!-- ENDIF -->

<!-- ENDIF -->

<!-- BEGIN topicrow -->

	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
		</ul>
	</div>
	<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
    <div class="forums<!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
        <p class="header gradient"><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></p>
		<ul class="topiclist forums">
	<!-- ENDIF -->

		<li class="row topic-{topicrow.S_TOPIC_TYPE}<!-- IF topicrow.S_UNREAD_TOPIC --> row-new<!-- ENDIF --><!-- IF topicrow.S_TOPIC_LOCKED --> locked<!-- ENDIF --><!-- IF topicrow.PAGINATION --> has-pagination<!-- ENDIF --> link" onclick="document.location.href='<!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT -->{topicrow.U_NEWEST_POST}<!-- ELSE -->{topicrow.U_VIEW_TOPIC}<!-- ENDIF -->'; return false;">
            <p><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
                <!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT --><a href="{topicrow.U_NEWEST_POST}" class="newest">{L_NEW_POST}</a><!-- ENDIF -->
            </p>
            <p><span class="replies<!-- IF not topicrow.REPLIES --> empty<!-- ENDIF -->" title="{L_REPLIES}">{topicrow.REPLIES}</span> {topicrow.LAST_POST_TIME}</p>
        </li>
		<!-- IF topicrow.PAGINATION -->
			<li class="row-pagination<!-- IF topicrow.S_UNREAD_TOPIC --> row-new<!-- ENDIF --><!-- IF topicrow.S_TOPIC_LOCKED --> locked<!-- ENDIF -->">
				{L_GOTO_PAGE}: <span class="pages">{topicrow.PAGINATION}</span>
			</li>
		<!-- ENDIF -->
        
	<!-- IF topicrow.S_LAST_ROW -->
        </ul>
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="block">
		{L_NO_TOPICS}
	</div>
	<!-- ENDIF -->
<!-- END topicrow -->

<!-- IF not S_IS_BOT and U_MARK_TOPICS --><p class="float-right"><a href="{U_MARK_TOPICS}">{L_MARK_TOPICS_READ}</a></p><!-- ENDIF -->

<!-- IF .topicrow and not S_DISPLAY_ACTIVE and not S_IS_BOT and S_DISPLAY_POST_INFO -->
    <div class="buttons">
        <a href="{U_POST_NEW_TOPIC}" class="gradient link"><!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF --></a>
    </div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->